/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

body {
    width: 1200px;
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two {
    display: flex;
    justify-content: space-between;
}

.three { /* tekst edhub staat niet op dezelfde regel*/
    display: flex;
    justify-content: space-between;
}

.three ul {
    display: flex;
    width: 300px;
    list-style-type: none;
    justify-content: space-between;
    }

.four {
    display: flex;
    justify-content: center
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.five{
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    width: 100%;
}

.five article {
    flex-grow: 1;
    flex-basis: 300px;
}



