/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

body {
    width: 1200px;
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*.two {*/
/*    display: flex;*/
/*    justify-self: flex-start;
}*/

#edhub { /* edhub nog op dezelfde regel krijgen */
    display: flex;
    justify-content: flex-end;
}

.three ul { /* 3 woorden nog naar links krijgen */
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.edhub3 { /* edhub nog op dezelfde regel krijgen */
    display: flex;
    justify-content: flex-end;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 400px; /* kan groene blok ook in midden dmv centreren? */
  }

.five article { /* nog werkend krijgen */
    display: flex;
    flex-direction: row;
    align-self: normal;
    flex-wrap: wrap;
}

